body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size: 55px;
    background-color: #0f131f;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frontdoor:link {
    color: #FFFFFF;
}
#frontdoor:visited {
    color: #FFFFFF;
}
#frontdoor:hover {
    color: #000000;
    background-color:#FFFFFF;
}
#frontdoor:active {
    color: #FFFFFF;
}