body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #000000;
}
section1 {
    font-size: 50px;
    text-align: center;
}
section2 {
    font-size: 50px;
    text-align: center;
}

.links {
    > #anchor1Link:link {
        color: #005EFF;
    }
    > #anchor1Link:visited {
        color: #787878;
    }
    > #anchor1Link:active {
        color: #005EFF;
    }
    > #anchor2Link:link {
        color: #38AC00;
    }
    > #anchor2Link:visited {
        color: #38AC00;
    }
    > #anchor2Link:active {
        color: #38AC00;
    }
    > #anchor3Link:link {
        color: #E81000;
    }
    > #anchor3Link:visited {
        color: #E81000;
    }
    > #anchor3Link:active {
        color: #E81000;
    }
    > #anchor4Link:link {
        color: #FF9D01;
    }
    > #anchor4Link:visited {
        color: #FF9D01;
    }
    > #anchor4Link:active {
        color: #FF9D01;
    }
    > a:visited {
        color: #787878;
    }
    > a:hover {
        color: #FFFFFF;
    }
}