body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 97vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100vw;
    font-size: 4vh;
    margin-bottom: 2vh;
    #contact {
        color:#FFFFFF;
        height: max-content;
    }
    #contact:hover {
        color:#212121;
        background-color:#FFFFFF;
    }
    #startingpoint {
        color:#FFFFFF;
        height: max-content;
    }
    #startingpoint:hover {
        color:#212121;
        background-color:#FFFFFF;
    }
}
#toggle {
    color:#FFFFFF;
    height: max-content;
    margin: 0;
    cursor: pointer;
    user-select: none;
}
#toggle:hover {
    color:#212121;
    background-color:#FFFFFF;
    cursor: pointer;
    user-select: none;
}


.id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#enter {
    color:#FFFFFF;
    text-align: center;
    font-size: 4vh;
}
#enter:hover {
    color:#212121;
    background-color:#FFFFFF;
    text-align: center;
    font-size: 4vh;
}
img {
    border-radius: 2%;
    margin-bottom: 25px;
}
.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}


.menu-content {
    padding: 0 0 0 0px;
}
.collapsible-menu {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 56px;
    cursor: pointer;
    background: "V" no-repeat left center;
    padding: 10px 0 10px 0px;
}
#menubutton:hover {
    color: black;
    background-color: white;
}
input#menu {
    display: none;
}

input:checked +label {
    background-image: "^";
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 0px;
    color: white;
}
.beginning {
    color:white;
}
.beginning:hover {
    color: #212121;
    background-color: white;
}


/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}

@media (max-width: 1200px) {
    .nav {
        display: none;
    }
    .collabsible-menu label {
        display: block;
    }
}
@media (min-width: 1201px) {
    .nav {
        flex-direction: row;
    }
    .collapsible-menu label {
        display: none;
    }
    .menu-content {
        display: none;
    }
}