body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.sandwich {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    #bottombreadlink:link {
        color:#FFFFFF;
    }
    #bottombreadlink:visited {
        color:#FFFFFF
    }
    #bottombreadlink:hover {
        color: #000000;
        background-color:#FFFFFF;
    }
    #bottombreadlink:active {
        color:#FFFFFF;
    }
}


.links {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    > #anchor1Link:link {
        color: #005EFF;
        text-align: center;
    }
    > #anchor1Link:visited {
        color: #005EFF;
    }
    > #anchor1Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor1Link:active {
        color: #005EFF;
    }
    > #anchor2Link:link {
        color: #38AC00;
        text-align: center;
    }
    > #anchor2Link:visited {
        color: #38AC00;
    }
    > #anchor2Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor2Link:active {
        color: #38AC00;
    }
    > #anchor3Link:link {
        color: #E81000;
        text-align: center;
    }
    > #anchor3Link:visited {
        color: #E81000;
    }
    > #anchor3Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor3Link:active {
        color: #E81000;
    }
    > #anchor4Link:link {
        color: #FF9D01;
        text-align: center;
    }
    > #anchor4Link:visited {
        color: #FF9D01;
    }
    > #anchor4Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor4Link:active {
        color: #FF9D01;
    }
}