html {
    height: 100vh;
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #0f131f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 99vh;
}
.beginning {
    font-size: 4vh;
    color:#FFFFFF;
}
.beginning:hover {
    color:#0f131f;
    background-color:#FFFFFF;
}

h1 {
    font-size: 10vh;
}
#tagline {
    margin-top: 1vh;
    padding-top: 1vh;
}
.links {
    font-size: 7vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    > #anchor1Link:link {
        color: #005EFF;
        text-align: center;
    }
    > #anchor1Link:visited {
        color: #005EFF;
    }
    > #anchor1Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor1Link:active {
        color: #005EFF;
    }
    > #anchor2Link:link {
        color: #38AC00;
        text-align: center;
    }
    > #anchor2Link:visited {
        font-size: 7vh;
        color: #38AC00;
    }
    > #anchor2Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor2Link:active {
        color: #38AC00;
    }
    > #anchor2Linkforweb:link {
        color: #38AC00;
        text-align: center;
    }
    > #anchor2Linkforweb:visited {
        color: #38AC00;
    }
    > #anchor2Linkforweb:hover {
        background-color:#FFFFFF;
    }
    > #anchor2Linkforweb:active {
        color: #38AC00;
    }
    > #anchor3Link:link {
        color: #E81000;
        text-align: center;
    }
    > #anchor3Link:visited {
        color: #E81000;
    }
    > #anchor3Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor3Link:active {
        color: #E81000;
    }
    > #anchor4Link:link {
        color: #FF9D01;
        text-align: center;
    }
    > #anchor4Link:visited {
        color: #FF9D01;
    }
    > #anchor4Link:hover {
        background-color:#FFFFFF;
    }
    > #anchor4Link:active {
        color: #FF9D01;
    }
}
.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.menu-content {
    padding: 0 0 0 0px;
}
.collapsible-menu {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 56px;
    cursor: pointer;
    background: "V" no-repeat left center;
    padding: 10px 0 10px 0px;
}
#menubutton:hover {
    color: black;
    background-color: white;
}
input#menu {
    display: none;
}

input:checked +label {
    background-image: "^";
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 0px;
    color: white;
}
.beginning {
    color:white;
}
.beginning:hover {
    color: #0f131f;
    background-color: white;
}


/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}

@media (max-width: 1200px) {
    .nav {
        display: none;
    }
    .collabsible-menu label {
        display: block;
    }
}
@media (min-width: 1201px) {
    .nav {
        flex-direction: row;
    }
    .collapsible-menu label {
        display: none;
    }
    .menu-content {
        display: none;
    }
}