body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #000000;
}
#startingpoint {
    font-size: 35px;
    float: left;
}
#contact {
    font-size: 35px;
    float: right;
}

.beginning {
    #contact {
        color:#FFFFFF

    }
    #contact:hover {
        color:#000000;
        background-color:#FFFFFF;
    }
    #startingpoint {
        color:#FFFFFF
    }
    #startingpoint:hover {
        color:#000000;
        background-color:#FFFFFF;
    }
}
.maincontent {
    font-size: 57px;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    > #enter:link {
        color: #005EFF;
    }
    > #enter:visited {
        color: #005EFF;
    }
    > #enter:hover {
        background-color:#FFFFFF;
    }
    > #enter:active {
        color: #005EFF;
    }
    > #joke1Link:link {
        color: #38AC00;
        text-align: center;
    }
    > #joke1Link:visited {
        color: #38AC00;
    }
    > #joke1Link:hover {
        background-color:#FFFFFF;
    }
    > #joke1Link:active {
        color: #38AC00;
    }
    > #joke2Link:link {
        color: #E81000;
    }
    > #joke2Link:visited {
        color: #E81000;
    }
    > #joke2Link:hover {
        background-color:#FFFFFF;
    }
    > #joke2Link:active {
        color: #E81000;
    }
    > #joke3Link:link {
        color: #ff9d01;
    }
    > #joke3Link:visited {
        color: #ff9d01;
    }
    > #joke3Link:hover {
        background-color:#FFFFFF;
    }
    > #joke3Link:active {
        color: #ff9d01;
    }
}