body {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 97vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-size: 4vh;
    #contact {
        color:#FFFFFF;
    }
    #contact:hover {
        color:#000000;
        background-color:#FFFFFF;
    }
    #about {
        color:#FFFFFF;
    }
    #about:hover {
        color:#000000;
        background-color:#FFFFFF;
    }
    #startingpoint {
        color:#FFFFFF;
    }
    #startingpoint:hover {
        color:#000000;
        background-color:#FFFFFF;
    }
}
img {
    max-width: 110%;
    max-height: 110%;
    margin-left: 55px;
    margin-right: 20px;
    margin-bottom: 50px;
}
p {
    font-size: 2.5vh;
    text-align: left;
}
h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 30px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 40vh;
    width: auto;
}
#artlink {
    color: #FFFFFF;
    font-size: 2.5vh;
    text-align: center;
}
#artlink:link {
    color:#FFFFFF;
}
#artlink:visited {
    color:#FFFFFF
}
#artlink:hover {
    color: #000000;
    background-color:#FFFFFF;
}
#artlink:active {
    color:#FFFFFF;
}
.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.menu-content {
    padding: 0 0 0 0px;
}
.collapsible-menu {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 56px;
    cursor: pointer;
    background: "V" no-repeat left center;
    padding: 10px 0 10px 0px;
}
#menubutton:hover {
    color: black;
    background-color: white;
}
input#menu {
    display: none;
}

input:checked +label {
    background-image: "^";
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 0px;
    color: white;
}
.beginning {
    color:white;
}
.beginning:hover {
    color: black;
    background-color: white;
}


/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}

@media (max-width: 1200px) {
    .nav {
        display: none;
    }
    .collabsible-menu label {
        display: block;
    }
}
@media (min-width: 1201px) {
    .nav {
        flex-direction: row;
    }
    .collapsible-menu label {
        display: none;
    }
    .menu-content {
        display: none;
    }
}